<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>xmrig UI</title>

    <link href="{{url_for('static', filename = 'main.css')}}" rel="stylesheet" />
    <link rel="shortcut icon" href="{{url_for('static', filename = 'icon.png')}}"/>

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
        integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
        crossorigin="anonymous"
    ></script>
    
    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'live_data.js') }}"
    ></script>
</head>

<body class="m-4 mt-10 lg:container lg:mx-auto bg-[#030711] text-white">
    <!-- Sidebar -->
    <div class="block">
        <div class="w-72 bg-black/40 fixed z-0 top-0 left-0 overflow-x-hidden pt-4 h-full">
            <nav class="mt-2">
                <a class="block" href=""><img class="flex justify-center p-4"
                        src="{{url_for('static', filename = 'logo.svg')}}" alt="" /></a>
                <a class="border-[#CBD5E1] border p-5 rounded-md text-white m-2 mx-4 block font-bold"
                    href="/">Dashboard</a>
                <a class="border-[#CBD5E1] border p-5 rounded-md text-white m-2 mx-4 block"
                    href="/configuration">Configuration</a>
                <a class="border-[#CBD5E1] border p-5 rounded-md text-white m-2 mx-4 block"
                    href="/settings">Settings</a>
                <a class="border-[#CBD5E1] border p-5 rounded-md text-white m-2 mx-4 block" href="">Documentation</a>
            </nav>


            <div class="text-center absolute bottom-0 m-2 mb-4">
            <p class="text-sm">XMRig: {{ xmrig_version }}</p>
            <p class="text-sm">Dashboard: {{ version }}</p>
            <p class="text-sm">Copyright &#169; 2022 <a href="https://lucasodev.tk" class="hover:underline">LucasoDevDotTk</a>.
            <p class="text-sm">Not affiliated with XMRig, all trademarks are owned by their respective owners.</p>
            </span> </p>
        </div>

        </div>
    </div>
    <!-- <nav class="mb-10">
        <a class="bg-[#FFFFFF]/70 p-2 px-5 rounded-md text-[#0F172A] mr-5" href="">Dashboard</a>
        <a class="border-[#CBD5E1] border p-2 px-5 rounded-md text-white mx-5" href="">Configuration</a>
        <a class="border-[#CBD5E1] border p-2 px-5 rounded-md text-white mx-5" href="">Settings</a>
        <a class="border-[#CBD5E1] border p-2 px-5 rounded-md text-white mx-5" href="">Documentation</a>
    </nav> -->
    <main class="ml-72 pl-5">
        <img class="absolute -z-10 w-max -inset-y-52" src="{{url_for('static', filename = 'blurred_blobs.svg')}}"
            alt="" />
        <h1 class="font-bold text-3xl text-white">XMRig UI Dashboard</h1>
        <hr class="mb-4 text-[#CBD5E1]" />

        {% if configured == "False" %}
            <p>XMRig is not configured!</p>
            <a href="/configuration" class="border-green-500 bg-white/0 border text-center p-5 w-full rounded-md text-white my-5 block">Configuration page</a>

        {% endif %}

        <!-- If configured -->
        
        {% if configured == "True" %}
        <p class="text-sm">Statistics are currently not working!</p>
            {% if running == "False" %}
                <form action="/start" method="post">
                    <button class="border-green-500 bg-white/0 border p-5 w-full rounded-md text-white my-5 block">Start XMRig</button>
                </form>
            {% endif %}

            {% if running == "True" %}      
                <form action="/stop" method="post">
                    <button class="border-red-500 bg-white/0 border p-5 w-full rounded-md text-white my-5 block">Stop XMRig</button>
                </form>

            {% endif %}

            <form action="/reinstall_xmrig" method="post">
                <button class="border-green-500 bg-white/0 border p-5 w-full rounded-md text-white my-5 block">Reinstall XMRig</button>
            </form>

            <div class="flex flex-wrap">
                <div class="border-[#CBD5E1] block border p-5 pb-9 w-72 my-2 rounded-md mr-4">
                    <p class="text-sm">Uptime</p>
                    <p id="uptime" class="font-bold text-4xl">0</p>
                </div>
                <div class="border-[#CBD5E1] block border p-5 pb-9 w-72 my-2 rounded-md mr-4">
                    <p class="text-sm">Xmrig Version</p>
                    <p class="font-bold text-4xl">{{ xmrig_version }}</p>
                </div>
                <div class="border-[#CBD5E1] block border p-5 pb-9 w-72 my-2 rounded-md mr-4">
                    <p class="text-sm">CPU Utilization</p>
                    <p id="cpu_usage" class="font-bold text-4xl"></p>
                </div>
                <div class="border-[#CBD5E1] block border p-5 pb-9 w-72 my-2 rounded-md mr-4">
                    <p class="text-sm">CPU Frequency</p>
                    <p id="cpu_freq" class="font-bold text-4xl"></p>
                </div>
                <div class="border-[#CBD5E1] block border p-5 pb-9 w-72 my-2 rounded-md mr-4">
                    <p class="text-sm">Memory</p>
                    <div class="flex">
                        <p id="mem_usage" class="font-bold text-4xl"></p>
                        <p class="" id="total_mem"></p>
                    </div>
                </div>

                <!-- Terminal -->
                <div class="w-full border border-[#CBD5E1] rounded-md h-96 my-2">
                    <p class="text-center my-32 font-bold text-3xl text-red-700">
                        TERMINAL | UNDER DEVELOPMENT
                    </p>
                </div>

                <!-- Hashrate graph -->
                <div class="w-full border border-[#CBD5E1] rounded-md h-96 my-2">
                    <p class="text-center my-32 font-bold text-3xl text-red-700">
                        HASRATE GRAPH | UNDER DEVELOPMENT
                    </p>
                </div>

                <!-- CPU TEMP AND USAGE GRAPH -->
                <div class="w-full border border-[#CBD5E1] rounded-md h-96 my-2">
                    <p class="text-center my-32 font-bold text-3xl text-red-700">
                        CPU TEMP AND USAGE GRAPH | UNDER DEVELOPMENT
                    </p>
                </div>
            </div>
        {% endif %}
    </main>
</body>

</html>